<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Basics</title>
    <style>
        .pinkBG{
            background-color: lightpink;
        }
        #vueClass{
            color:white;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-bind:class = "vueClass">
            {{message}}
            <br>
            {{'Random number: '+Math.ceil(Math.random()*6)}}
        </div>
        <div v-bind:style="{fontSize:size + 'px'}">
            Text Example
        </div>
        <p v-if="condnrender">
            in stock
        </p>
        <p v-else>
            not in stock
        </p>

        <p v-if="condnrendercount>5">
            stock available
        </p>
        <p v-else-if="condnrendercount>0">
            filling stock
        </p>
        <p v-else>
            out of stock
        </p>

        <p v-if="text.includes('pizza')">
            The text includes the word 'pizza'
        </p>
        <p v-else>The word 'pizza is not found in the text</p>

        <div v-show="showDiv">
            Div tag with v-show
        </div>
        
        <ol>
            <li v-for="x in manyFoodItems">{{x}}</li>
        </ol>
        <br/>
        <p v-for="(x,index) in manyFoodItems">
            {{index}}: "{{x.name}}", url: "{{x.url}}"
            <br/>
        </p>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    message: "Hello World!",
                    vueClass: "pinkBG",
                    size: 30,
                    condnrender: false,
                    condnrendercount: 0,
                    text: 'I like taco, pizza, Thai salad and soup',
                    showDiv: true,
                    manyFoods: [
                        'Salad',
                        'Cake',
                        'Soup',
                        'Fish',
                        'Pizza',
                        'Rice'
                    ],
                    manyFoodItems:[
                        {name: 'Salad', url:'imageforsalad'},
                        {name: 'Cake', url:'imageforcake'}
                    ]


                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>